
{% block content %}
<h4> Istruzioni</h4>

<p>
Si formano in modo casuale i gruppi di tre: sarai un giocatore A o B o un giudice.
</p>

<p>
All'inizio di tutti round ogni partecipante di qualsiasi tipo riceve 10 gettoni. Si formano i gruppi di tre partecipanti,
    ognuno composto da due giocatori (A e B) e un giudice. I due giocatori svolgeranno indipendentemente un compito
    della durata di 5 minuti. Il compito è spiegato di seguito. Il compito da' a ciascuno di questi giocatori un "punteggio".
    Quanto migliore sarà l’esecuzione del compito, tanto più alto sarà il suo punteggio.
    Dopo che avranno finito, il giudice deciderà chi è  il vincitore.
    Il vincitore riceverà un premio di 10 gettoni. Il giudice non svolgerà il compito.
    Lui o lei può dare il premio a uno dei due giocatori del suo gruppo. Nota bene :
    il giudice deve assegnare questo premio a uno dei due giocatori.
    L’ammontare del premio sarà aggiunto ai guadagni finali dei giocatori.
    Questo premio NON sarà dedotto dai guadagni del giudice.
</p>

<p>
Prima che il giudice decida, ognuno dei due giocatori sceglie se vuole trasferire gettoni al giudice del suo gruppo.
Si può trasferire qualsiasi somma tra 0 e 10. Non appena entrambi i giocatori hanno fatto le loro scelte,
il giudice vedrà sullo schermo del suo computer le informazioni sul punteggio di entrambi i giocatori e sui
loro trasferimenti.
</p>

</p>
Successivamente, inizia un nuovo round e tutti i partecipanti saranno ricombinati in modo casuale in nuovi
gruppi di tre (due giocatori e un giudice). Non cambierai il tuo tipo, i giocatori resteranno giocatori e
i giudici resteranno giudici. Le regole per tutti e 10 i round sono identiche. Tutti i round sono indipendenti.
</p>

<p>
Alla fine dell'esperimento, ogni partecipante di ogni tipo riceverà quello che ha guadagnato in uno di dieci round,
    scelto in modo casuale, più il gettone di presenza di 5 euro.

</p>


{% endblock %}