{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Камень-ножницы-бумага
{% endblock %}

{% block content %}
<p>
    В этой игре вам нужно выбрать одну из трех стратегий:
    Бумага побеждает камень («бумага накрывает камень»);
    Камень побеждает ножницы («камень затупляет или ломает ножницы»);
    Ножницы побеждают бумагу («ножницы разрезают бумагу»).

    </p>

{% formfield player.hum_move with label="выберите один из трех вариантов" %}
    {% next_button %}

{% endblock %}
