{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкции
    </h3>
    <p>
        Вас случайным образом объединяют в пару с другим участником эксперимента.
        Вы не будете знать, кто этот участник, также как и он не будет знать, кто Вы.
    </p>

    <p>
       В игре есть две роли — Участник 1 из <strong>Самары</strong> и Участник 2 из <strong>Москвы</strong>.
        <!-- Участник 1 и Участник 2. -->
        <!-- В игре есть две роли — Участник 1 из <strong>Томска</strong> и Участник 2 из <strong>Москвы</strong> -->
         Каждому игроку случайным образом присваивается одна из ролей.
        Прежде чем приступить к эксперименту, Вы и Ваш напарник узнаете свои роли.
    </p>

    <p>
        Перед началом каждого раунда участники эксперимента увидят свои роли, а Участник 1 получает начальную сумму в токенах. Участник 1 выбирает,
        какую часть этой суммы (в токенах) сколько он передает Участнику 2. Оставшуюся часть начальной суммы он оставляет себе.
    </p>
</div>
