{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкции
    </h3>
    <p>
       Эта игра состоит из шести раундов, в каждом из которых каждый из вас играет в одной из двух ролей:
        Участника 1 и Участника 2. Ваша роль и роль Вашего напарника определены случайным образом, и остаются неизменными
        на протяжении всей экспериментальной сессии.
    </p>

    <p>
     В этом эксперименте все решения принимаются в токенах, которые переводятся в ECU в конце сессии.
     Стоимость ECU в рублях была вам объявлена заранее и остается неизменной на всем протяжении сессии.
     Стоимость токена в ECU может меняться от раунда к раунду и от участника к участнику.
    </p>

    <p>
        После того как участники эксперимента узнают свои  роли, Участник 1 получает начальную сумму в токенах,
        и принимает решение о том, какую ее часть в токенах он оставляет себе, а какую передаст Участнику 2
        (в любой пропорции, как посчитает нужным).
    </p>
</div>
