{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    {% if subsession.round_number == 1 %}
        Решение Участника 2 в Раунде 1.
    {% elif subsession.round_number == 2 %}
        Решение Участника 2 в Раунде 2.
    {% elif subsession.round_number == 3 %}
        Решение Участника 2 в Раунде 3.
    {% elif subsession.round_number == 4 %}
        Решение Участника 2 в Раунде 4.
    {% elif subsession.round_number == 5 %}
        Решение Участника 2 в Раунде 5.
    {% elif subsession.round_number == 6 %}
        Решение Участника 2 в Раунде 6.
    {% endif %}
{% endblock %}

{% block content %}

    <p>
    {% if subsession.round_number == 1 %}
         <strong>Напоминание:</strong> в текущем раунде Участник 1 получил <strong>{{ endowment_iter_1 }}</strong> токенов,
        1 токен = {{ unit_values_for_R_iter_1 }} экю для Вас,
        1 токен = {{ unit_values_for_S_iter_1 }} экю для Участника 1.
    {% elif subsession.round_number == 2 %}
         <strong>Напоминание:</strong> в текущем раунде Участник 1 получил <strong>{{ endowment_iter_2 }}</strong> токенов,
        1 токен = {{ unit_values_for_R_iter_2 }} экю для Вас,
        1 токен = {{ unit_values_for_S_iter_2 }} экю для Участника 1.
    {% elif subsession.round_number == 3 %}
         <strong>Напоминание:</strong> в текущем раунде Участник 1 получил <strong>{{ endowment_iter_3 }}</strong> токенов,
        1 токен = {{ unit_values_for_R_iter_3 }} экю для Вас,
        1 токен = {{ unit_values_for_S_iter_3 }} экю для Участника 1.
    {% elif subsession.round_number == 4 %}
         <strong>Напоминание:</strong> в текущем раунде Участник 1 получил <strong>{{ endowment_iter_4 }}</strong> токенов,
        1 токен = {{ unit_values_for_R_iter_4 }} экю для Вас,
        1 токен = {{ unit_values_for_S_iter_4 }} экю для Участника 1.
    {% elif subsession.round_number == 5 %}
         <strong>Напоминание:</strong> в текущем раунде Участник 1 получил <strong>{{ endowment_iter_5 }}</strong> токенов,
        1 токен = {{ unit_values_for_R_iter_5 }} экю для Вас,
        1 токен = {{ unit_values_for_S_iter_5 }} экю для Участника 1.
    {% elif subsession.round_number == 6 %}
         <strong>Напоминание:</strong> в текущем раунде Участник 1 получил <strong>{{ endowment_iter_6 }}</strong> токенов,
        1 токен = {{ unit_values_for_R_iter_6 }} экю для Вас,
        1 токен = {{ unit_values_for_S_iter_6 }} экю для Участника 1.
    {% endif %}
    </p>

    <p>

        {% formfield group.R_min_offer label='Какой НАИМЕНЬШЕЙ суммой, которую Вам может передать Участник 1 в текущем раунде, Вы были бы удовлетворены?' %}

    </p>



    <p>
        Пожалуйста, нажмите кнопку <strong>Далее</strong>.
    </p>

    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
