{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Квиз на понимание инструкций
{% endblock %}

{% block content %}

    <p>
        Пожалуйста, удостоверьтесь, что Вы правильно поняли инструкции, ответив на несколько вопросов.
    </p>

    <p>
        <strong>Ситуация 1</strong>
    </p>
    <p>
        Вы — Участник 1, и принимаете решение в раунде, где: начальная сумма - 100 токенов,
        <br>
        1 токен = 1 ECU для Вас,
        <br>
        1 токен = 3 ECU для Участника 2.
        Вы предлагаете Участнику 2 сумму в 40 токенов.
    </p>

    {% formfield group.R_quiz_1 label='Сколько ECU получит Участник 2 в результате этого дележа?' %}
    {% formfield group.R_quiz_2 label='Сколько ECU останется у Вас (т.е. Участника 1) в результате этого дележа?' %}

    <p>
        <strong>Ситуация 2</strong>
    </p>

    <p>
        Вы — Участник 2, Участник 1 принимает решение в раунде, где: начальная сумма - 100 токенов,
        <br>
        1 токен = 1 ECU для Вас,
        <br>
        1 токен = 1 ECU для Участника 2. Участник 1 принял решение передать Вам 50 токенов.
        <br>
        Не зная этого, Вы предполагаете, что Участник 1 передаст Вам 60 токенов.

    </p>

    {% formfield group.R_quiz_3 label='Сколько ECU получите Вы (т.е. Участник 2) за Ваше предположение относительно Участника 1?' %}
    {% formfield group.R_quiz_4 label='Сколько всего ECU получите Вы (т.е. Участник 2) в этом раунде?' %}

{% next_button %}
{% endblock %}
