{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    {% if subsession.round_number == 1 %}
        Решение Участника 1 в Раунде 1.
    {% elif subsession.round_number == 2 %}
        Решение Участника 1 в Раунде 2.
    {% elif subsession.round_number == 3 %}
        Решение Участника 1 в Раунде 3.
    {% elif subsession.round_number == 4 %}
        Решение Участника 1 в Раунде 4.
    {% elif subsession.round_number == 5 %}
        Решение Участника 1 в Раунде 5.
    {% elif subsession.round_number == 6 %}
        Решение Участника 1 в Раунде 6.
    {% endif %}
{% endblock %}

{% block content %}

    <p>
        Вы являетесь <strong>Участником 1</strong>
    </p>

    <p>
    {% if subsession.round_number == 1 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_1 }} токенов</strong>,
        1 токен = {{ unit_values_for_S_iter_1 }} экю для Вас,
        1 токен = {{ unit_values_for_R_iter_1 }} экю для Участника 2.
    {% elif subsession.round_number == 2 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_2 }} токенов</strong>,
        1 токен = {{ unit_values_for_S_iter_2 }} экю для Вас,
        1 токен = {{ unit_values_for_R_iter_2 }} экю для Участника 2.
    {% elif subsession.round_number == 3 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_3 }} токенов</strong>,
        1 токен = {{ unit_values_for_S_iter_3 }} экю для Вас,
        1 токен = {{ unit_values_for_R_iter_3 }} экю для Участника 2.
    {% elif subsession.round_number == 4 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_4 }} токенов</strong>,
        1 токен = {{ unit_values_for_S_iter_4 }} экю для Вас,
        1 токен = {{ unit_values_for_R_iter_4 }} экю для Участника 2.
    {% elif subsession.round_number == 5 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_5 }} токенов</strong>,
        1 токен = {{ unit_values_for_S_iter_5 }} экю для Вас,
        1 токен = {{ unit_values_for_R_iter_5 }} экю для Участника 2.
    {% elif subsession.round_number == 6 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_6 }} токенов</strong>,
        1 токен = {{ unit_values_for_S_iter_6 }} экю для Вас,
        1 токен = {{ unit_values_for_R_iter_6 }} экю для Участника 2.
    {% endif %}
    </p>



    {% if subsession.round_number == 1 %}

        <p>
        Пожалуйста, укажите, сколько токенов из суммы, которую Вы получили в текущем раунде, Вы хотите отдать Участнику 2 (от 0 до {{ endowment_iter_1 }}).
        </p>
        {% formfield group.S_transfer label='Укажите, сколько токенов Вы хотите отдать Участнику 2:'%}
        {% formfield group.S_self_part label='Укажите, сколько токенов Вы хотите оставить себе:'%}

    {% elif subsession.round_number == 2 %}

        <p>
        Пожалуйста, укажите, сколько токенов из суммы, которую Вы получили в текущем раунде, Вы хотите отдать Участнику 2 (от 0 до {{ endowment_iter_2 }}).
        </p>
        {% formfield group.S_transfer label='Укажите, сколько токенов Вы хотите отдать Участнику 2:'%}
        {% formfield group.S_self_part label='Укажите, сколько токенов Вы хотите оставить себе:'%}

    {% elif subsession.round_number == 3 %}

        <p>
        Пожалуйста, укажите, сколько токенов из суммы, которую Вы получили в текущем раунде, Вы хотите отдать Участнику 2 (от 0 до {{ endowment_iter_3 }}).
        </p>
        {% formfield group.S_transfer label='Укажите, сколько токенов Вы хотите отдать Участнику 2:'%}
        {% formfield group.S_self_part label='Укажите, сколько токенов Вы хотите оставить себе:'%}

    {% elif subsession.round_number == 4 %}

        <p>
        Пожалуйста, укажите, сколько токенов из суммы, которую Вы получили в текущем раунде, Вы хотите отдать Участнику 2 (от 0 до {{ endowment_iter_4 }}).
        </p>
        {% formfield group.S_transfer label='Укажите, сколько токенов Вы хотите отдать Участнику 2:'%}
        {% formfield group.S_self_part label='Укажите, сколько токенов Вы хотите оставить себе:'%}

    {% elif subsession.round_number == 5 %}

        <p>
        Пожалуйста, укажите, сколько токенов из суммы, которую Вы получили в текущем раунде, Вы хотите отдать Участнику 2 (от 0 до {{ endowment_iter_5 }}).
        </p>
        {% formfield group.S_transfer label='Укажите, сколько токенов Вы хотите отдать Участнику 2:'%}
        {% formfield group.S_self_part label='Укажите, сколько токенов Вы хотите оставить себе:'%}

    {% elif subsession.round_number == 6 %}

        <p>
        Пожалуйста, укажите, сколько токенов из суммы, которую Вы получили в текущем раунде, Вы хотите отдать Участнику 2 (от 0 до {{ endowment_iter_6 }}).
        </p>
        {% formfield group.S_transfer label='Укажите, сколько токенов Вы хотите отдать Участнику 2:'%}
        {% formfield group.S_self_part label='Укажите, сколько токенов Вы хотите оставить себе:'%}

    {% endif %}

    <p>
        Пожалуйста, нажмите кнопку <strong>Далее</strong>.
    </p>

    {% next_button %}
    {% include Constants.instructions_template %}

{% endblock %}
