{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Проверочные задания на понимание инструкций
{% endblock %}

{% block content %}

    <p>
        Пожалуйста, удостоверьтесь, что Вы правильно поняли инструкции, ответив на несколько вопросов.
    </p>


    <p>
        Вы — Участник 1, и принимаете решение в раунде, где: начальная сумма - 100 токенов,
        <br>
        1 токен = 1 ECU для Вас,
        <br>
        1 токен = 3 ECU для Участника 2.
        <br>
        Вы предлагаете Участнику 2 сумму в 40 токенов.
    </p>

    {% formfield group.S_quiz_1 label='Сколько ECU получит Участник 2 в результате этого дележа?' %}
    {% formfield group.S_quiz_2 label='Сколько ECU останется у Вас (т.е. Участника 1) в результате этого дележа?' %}


{% next_button %}
{% endblock %}
