{% load otree_tags staticfiles %}
<div class="instructions well well-lg">
<h3 class="panel-sub-heading">
Инструкции
</h3>
<p>
Вы играете в группе с другими участниками  в течение {{Constants.num_rounds}} раундов.
</p><p>
Кроме того, каждый из вас получает равную сумму {{ Constants.endowment }}, и решает, в какой пропорции разбить ее между
    <b>личным счетом</b> и <b>общим счетом</b>.
Ваш доход зависит как от ваших решений, так и от решений остальных.
</p><p>
    В данной игре после того, как все участники примут свои решения, каждый из вас получит возможность сделать <b>вычет</b>
    из доходов другого участника, заплатив за это сумму от 1 до 40 очков. Каждое очко, которое вы потратите на
    вычет у другого участника, уменьшит его доход в данном раунде на 2 очка. Другие игроки могут то же самое сделать с
    вашим доходом.
</div>