{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if Constants.language == 1 %}
            Game {{ group.round_number }}
        {% else %}
            Игра {{ group.round_number }}
        {% endif %}

{% endblock %}

{% block content %}

    {% if Constants.language == 1 %}
        <p>
            You are player {{ player.id_in_group }}
        </p>
    {% else %}
        <p>
            Вы игрок {{ player.id_in_group }}
        </p>
    {% endif %}

    {% if group.round_number == 1 %}

        {% if Constants.language == 1 %}
            <p>
                While player 1 is deciding on the offer on how to divide {{ Constants.endowment }} tokens,
                please choose below how you would respond to each of the possible offers. Remember that
                when we show you at the end of the experiment how many tokens player 1 actually offered to you,
                you will not have a chance to change your response.
            </p>
        {% else %}
            <p>
                Пока игрок 1 думает, какой делёж {{ Constants.endowment }} жетонов Вам предложить, пожалуйста, выберете,
                как Вы отреагируете на каждое из возможных предложений. Помните, что когда Вы увидите,
                что именно Вам предложил игрок 1, - а Вы это увидите в конце эксперимента, -
                у Вас не будет возможности изменить свой ответ.
            </p>
        {% endif %}

        {% for f in form %}        {% formfield f %}    {% endfor %}

        <div>
            {% if Constants.language == 1 %}
                <button name="next">Submit</button>
            {% else %}
                <button name="next">Подтвердить</button>
            {% endif %}
        </div>

    {% elif group.round_number == 2 %}

        {% if Constants.language == 1 %}
            <p>
                You do not make any choice in this game. Any offer player 1 made is accepted automatically.
            </p>
        {% else %}
            <p>
                Вы ничего не выбираете в этой игре. Любое предложение игрока 1 принимается автоматически.
            </p>
        {% endif %}

        <div>
            {% if Constants.language == 1 %}
                <button name="next">Next</button>
            {% else %}
                <button name="next">Дальше</button>
            {% endif %}
        </div>

    {% elif group.game_played == 2 %}

        {% if Constants.language == 1 %}
            <p>
                You chose game 2. This means any offer player 1 made is accepted automatically.
            </p>
        {% else %}
            <p>
                Вы выбрали игру 2. Значит, любое предложение игрока 1 принимается автоматически.
            </p>
        {% endif %}

        <div>
            {% if Constants.language == 1 %}
                <button name="next">Go to results</button>
            {% else %}
                <button name="next">Посмотреть результаты</button>
            {% endif %}
        </div>

    {% else %}

        {% if Constants.language == 1 %}
            <p>
                You chose game 1.
            </p>
            <p>
                While Player 1 is deciding on the offer on how to divide {{ Constants.endowment }} tokens,
                please choose below how you would respond to each of the possible offers. Remember that
                when we show you at the end of the experiment how many tokens player 1 actually offered to you,
                you will not have a chance to change your response.
            </p>
        {% else %}
            <p>
                Вы выбрали игру 1.
            </p>
            <p>
                Пока игрок 1 думает, какой делёж {{ Constants.endowment }} жетонов Вам предложить, пожалуйста, выберете,
                как Вы отреагируете на каждое из возможных предложений. Помните, что когда Вы увидите,
                что именно Вам предложил игрок 1, - а Вы это увидите в конце эксперимента, -
                у Вас не будет возмоности изменить свой ответ.
            </p>
        {% endif %}

        {% for f in form %}        {% formfield f %}    {% endfor %}

        <div>
            {% if Constants.language == 1 %}
                <button name="next">Submit</button>
            {% else %}
                <button name="next">Подтвердить</button>
            {% endif %}
        </div>

    {% endif %}

<!--<p>

</p>

    <h4>
        {% if Constants.language == 1 %}
            Instructions
        {% else %}
            Инструкция
        {% endif %}
    </h4>

    {% include Constants.instructions_template %}-->

{% endblock %}