{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if Constants.language == 1 %}
            Game {{ group.round_number }}
        {% else %}
            Игра {{ group.round_number }}
        {% endif %}

{% endblock %}

{% block content %}

        {% if Constants.language == 1 %}
            <p>
                You are player {{ player.id_in_group }}
            </p>

            {% formfield group.game_played label="Choose which game to play"%}

        {% else %}

            <p>
                Вы игрок {{ player.id_in_group }}
            </p>

            {% formfield group.game_played label="Выберете, какую игру дальше играть"%}

        {% endif %}



    <div>
        {% if Constants.language == 1 %}
            <button name="next">Submit</button>
        {% else %}
            <button name="next">Подтвердить</button>
        {% endif %}
    </div>

<!--<p>

</p>

    <h4>
        {% if Constants.language == 1 %}
            Instructions
        {% else %}
            Инструкция
        {% endif %}
    </h4>

    {% include Constants.instructions_template %}-->

{% endblock %}