{% load otree static %}

<div class="instructions well well-lg">

    <div class="panel-body">

        <p>
            В начале эксперимента все участники будут поделены на пары случайным образом. Всё будет анонимно:
            Вы не будете знать, кто Ваш партнёр, а Ваш партнёр не будет знать, кто Вы.
        </p>

        <p>
            В каждой паре у участников будут разные роли:
            один будет <strong>игрок 1</strong>, другой будет <strong>игрок 2</strong>.
            Роли будут распределены случайным образом.
            Вы узнаете Вашу роль в начале эксперимента.
            Ваша роль будет неизменной в течение всего эксперимента.
        </p>

        <p>
            Эксперимент состоит из трёх игр. Ещё раз, во всех трёх играх у Вас будет одна и та же роль.
            Однако Ваш партнёр будет выбираться <strong>случайным образом</strong> перед каждой игрой.
            Так как роли между играми не меняются, то Ваш партнёр будет выбираться из тех участников,
            у которых противоположная роль.
        </p>

        <p>
            В каждой игре у Вас с партнёром будет {{ Constants.endowment }} жетонов. Ваша задача: решить, как их поделить.
            Разница в играх состоит в правилах, которым вы должны следовать.
        </p>

        <h4 class="panel-sub-heading">
            Игра 1
        </h4>

        <p>
            Игрок 1 предлагает игроку 2 как поделить {{ Constants.endowment }} жетонов между двумя игроками.
            Это выглядит следующим образом.
        </p>
        <p>
            Игрок 1 видит перед собой на экране {{ Constants.offer_choices_count }} опций:
        </p>

        <ol>
            {% for give, keep in Constants.keep_give_amounts %}

                <li> Игрок 2 получает {{ give }} жетонов (у Вас останется {{ keep }} жетонов)</li>

            {% endfor %}
        </ol>

        <p>
            Кликая на кнопки слева от каждой опции, игрок 1 должен выбрать ровно одну опцию
            (вообще ничего не выбрать или выбрать больше не выйдет - программа не даст).
            Можно сколько угодно менять свой выбор, пока не нажата кнопка "Подтвердить". Когда игрок 1 меняет свой выбор,
            нажимая на еще одну кнопку, прошлый выбор автоматически аннулируется.
            Когда окончательное решение принято, игрок 1 должен нажать на кнопку "Подтвердить".
        </p>

        <p>
            Пока игрок 1 решает, что предложить игроку 2, игрок 2 должен решить, на какие из
            {{ Constants.offer_choices_count }} опций соглашаться, а на какие нет. Это выглядит следующим образом.
        </p>
        <p>
            Игрок 2 видит перед собой на экране {{ Constants.offer_choices_count }} опций:
        </p>

        <ol>
            {% for give, keep in Constants.keep_give_amounts %}

                <li> Вы получаете {{ give }} жетонов (у игрока 1 останется {{ keep }} жетонов)</li>

            {% endfor %}
        </ol>

        <p>
            Для каждой опции будет две кнопки, помеченные как <strong>"Принять"</strong> и <strong>"Отказаться"</strong>.
            Игрок 2 должен сделать выбор для каждой из {{ Constants.offer_choices_count }} опций.
            Опять же, можно сколько угодно менять свой выбор, пока не нажата кнопка "Подтвердить".
            Когда игрок 2 меняет свой выбор в отношении какой-либо опции,
            нажимая на вторую кнопку, прошлый выбор автоматически аннулируется.
            Когда окончательный выбор в отношении всех {{ Constants.offer_choices_count }} опций сделан,
            игрок 2 должен нажать на кнопку "Подтвердить".
        </p>

        <p>
            Выигрыш в этой игре определяется следующим образом. Если выбранная игроком 1 опция принята игроком 2, то она и реализуется.
            Если ли же игрок 2 отказался от выбранной игроком 1 опции, то <strong>оба игрока получают {{ Constants.payoff_if_rejected }}</strong> жетонов за игру.
        </p>

        <p>
            Когда все участники эксперимента сделали свой выбор в игре 1, начинается игра 2.
            Вы узнаете свой выигрыш в игре 1 только после окончания эксперимента, то есть после окончания игры 3.
        </p>

        <h4 class="panel-sub-heading">
            Игра 2
        </h4>

        <p>
            Экран игрока 1 в игре 2 выглядит точно так же, как и в игре 1.
            Вся разница между играми 1 и 2 состоит в экране игрока 2.
        </p>

        <p>
            Игрок 1 предлагает игроку 2 как поделить {{ Constants.endowment }} жетонов между двумя игроками. Это выглядит следующим образом.
        </p>
        <p>
            Игрок 1 видит перед собой на экране {{ Constants.offer_choices_count }} опций:
        </p>

        <ol>
            {% for give, keep in Constants.keep_give_amounts %}

                <li> Игрок 2 получает {{ give }} жетонов (у Вас останется {{ keep }} жетонов)</li>

            {% endfor %}
        </ol>

        <p>
            Кликая на кнопки слева от каждой опции, игрок 1 должен выбрать ровно одну опцию
            (вообще ничего не выбрать или выбрать больше не выйдет - программа не даст).
            Можно сколько угодно менять свой выбор, пока не нажата кнопка "Подтвердить". Когда игрок 1 меняет свой выбор,
            нажимая на еще одну кнопку, прошлый выбор автоматически аннулируется.
            Когда окончательное решение принято, игрок 1 должен нажать на кнопку "Подтвердить".
        </p>

        <p>
            До этого момента все то же самое, что и в игре 1. Разница же между играми в следующем.
        </p>

        <p>
            Игрок 2 ничего не выбирает в игре 2. Любое предложение игрока 1 <strong>принимается автоматически</strong>.
        </p>

        <p>
            Выигрыш в этой игре определяется полностью в соответствии с опцией, выбранной игроком 1.
        </p>

        <p>
            Когда все участники эксперимента в роли игрока 1 сделали свой выбор в игре 2, начинается игра 3.
            Вы узнаете свой выигрыш в игре 2 только после окончания эксперимента, то есть после окончания игры 3.
        </p>

        <h4 class="panel-sub-heading">
            Игра 3
        </h4>

        <p>
            Игрок 2 выбирает, какую игру дальше играть, игру 1 или игру 2.
        </p>

        <p>
            Игрок 2 видит перед собой две кнопки, помеченные как <strong>"Игра 1"</strong> и <strong>"Игра 2"</strong>.
            После того, как игра выбрана, игрок 2 должен нажать на кнопку "Подтвердить".
        </p>

        <p>
            Если игрок 2 выбрал игру 1, на следующем экране будут представлены
            {{ Constants.offer_choices_count }} опций на выбор:
        </p>

        <ol>
            {% for give, keep in Constants.keep_give_amounts %}

                <li> Вы получаете {{ give }} жетонов (у игрока 1 останется {{ keep }} жетонов)</li>

            {% endfor %}
        </ol>

        <p>
            Для каждой опции будет две кнопки, помеченные как "Принять" и "Отказаться".
            Игрок 2 должен сделать выбор для каждой из {{ Constants.offer_choices_count }} опций.
            Когда окончательный выбор в отношении всех {{ Constants.offer_choices_count }} опций сделан,
            игрок 2 должен нажать на кнопку "Подтвердить".
        </p>

        <p>
            Если игрок 2 выбрал игру 2, предложение игрока 1 принимается автоматически.
            Поэтому в этом случае игроку 2 больше ничего не надо выбирать.
        </p>

        <p>
            Пока игрок 2 решает, какую игру выбрать (и как отреагировать, если выбрана игра 1),
            игрок 1 должен решить сколько предлагать игроку 2 в каждой из двух возможных игр.
        </p>

        <p>
            Игрок 1 увидит на экране два списка, каждый из {{ Constants.offer_choices_count }} опций:
        </p>

        <ol>
            {% for give, keep in Constants.keep_give_amounts %}

                <li> Игрок 2 получает {{ give }} жетонов (у Вас останется {{ keep }} жетонов)</li>

            {% endfor %}
        </ol>

        <p>
            Список 1 соответствует игре 1, список 2 соответствует игре 2.
            Это означает, что игрок 1 должен сделать <strong>два выбора</strong>:
            в первом списке игрок 1 выбирает, что предложить игроку 2, если игрок 2 выбрал игру 1;
            во втором списке игрок 1 выбирает, что предложить игроку 2, если игрок 2 выбрал игру 2.
        </p>

        <p>
            Выигрыш в этой игре определяется следующим образом. Если игрок 2 выбрал игру 1 и
            выбранная игроком 1 опция в списке 1 принята игроком 2, то она и реализуется.
            Если игрок 2 выбрал игру 1 и игрок 2 отказался от выбранной игроком 1 опции в списке 1,
            то оба игрока получают {{ Constants.payoff_if_rejected }} жетонов за игру.
            Если игрок 2 выбрал игру 2, то реализуется опция, выбранная игроком 1 в списке 2.
        </p>

        <p>
            Когда все участники эксперимента сделали свой выбор в игре 3, Вы узнаете свой выигрыш во всех трёх играх.
        </p>

        <h4 class="panel-sub-heading">
            Порядок проведения эксперимента
        </h4>

        <ol type="I">
            <li>
                После прочтения инструкции каждый участник эксперимента должен ответить на вопросы теста.
                Цель теста - убедиться, что все всё поняли. Не бойтесь ошибиться в тесте, ваш выигрыш абсолютно
                не зависит от того, на сколько вопросов в тесте Вы ответили правильно. Если Вы ошибётесь, программа
                Вас поправит и объяснит, почему ответ был неверным.
            </li>
            <li>
                Потом начинается сам эксперимент.
                <ol>
                    <li>
                        Вначале все участники будут поделены на пары случайным образом.
                        Вы <strong>не</strong> будете знать, кто с кем в паре.
                        Соответственно, Вы не будете знать, с кем в паре Вы сами.
                    </li>
                    <li>
                        Вы увидите свою роль: игрок 1 или игрок 2.
                        Ваша роль остаётся неизменной в течение всего эксперимента.
                    </li>
                    <li>
                        Начинается игра 1. В зависимости от Вашей роли:
                        <ul>
                            <li>
                                Игрок 1: Выберите, сколько предложить игроку 2.
                            </li>
                            <li>
                                Игрок 2: Для каждой из {{ Constants.offer_choices_count }} опций
                                решите, принимать её или отказаться от неё.
                            </li>
                        </ul>
                        Вы узнаете свой выигрыш в игре 1 в конце эксперимента.
                    </li>
                    <li>
                        Начинается игра 2. Ваш партнёр выбирается случайным образом из тех участников,
                        у которых противоположная роль.
                    </li>
                    <li>
                        В зависимости от Вашей роли:
                        <ul>
                            <li>
                                Игрок 1: Выберите, сколько предложить игроку 2.
                            </li>
                            <li>
                                Игрок 2: Вам ничего не надо делать.
                            </li>
                        </ul>
                        Вы узнаете свой выигрыш в игре 2 в конце эксперимента.
                    </li>
                    <li>
                        Начинается игра 3. Ваш партнёр выбирается случайным образом из тех участников,
                        у которых противоположная роль.
                    </li>
                    <li>
                        В зависимости от Вашей роли:
                        <ul>
                            <li>
                                Игрок 1: Для каждой из двух игр выберите, сколько предложить игроку 2.
                            </li>
                            <li>
                                Игрок 2: Выберите игру: игра 1 или игра 2. Если Вы выбрали игру 1,
                                Вы также должны решить, что ответить на первое предложение игрока 1:
                                для каждой из {{ Constants.offer_choices_count }} опций
                                решите, принимать её или отказаться от неё.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Вы увидите, сколько Вы получили в каждой из трёх игр.
                    </li>
                    <li>
                        Для каждого из участников, программа случайным образом выберет, какую из трёх игр взять для
                        оплаты (вероятность выбора каждой из трёх игр одинаковая). Другими словами, ровно одна из трёх
                        игр будет определять, сколько денег вы получите за эксперимент.
                    </li>
                </ol>
            </li>
            <li>
                После завершения эксперимента Вас попросят ответить ещё на несколько вопросов.
                Некоторые из этих вопросов также оплачиваются.
            </li>
        </ol>

        <h4 class="panel-sub-heading">
            Сколько денег Вы получите:
        </h4>

        <p>
            <center> {{ Constants.show_up_text }} +
            (количество жетонов, полученных в игре, выбранной программой для оплаты) * {{ Constants.rate_text }} +
            (количество жетонов, полученных после эксперимента во время опроса) * {{ Constants.rate_survey_text }} </center>
        </p>

    </div>
</div>