{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if Constants.language == 1 %}
            Survey. Part 3
        {% else %}
            Опрос. Часть 3
        {% endif %}

{% endblock %}

{% block content %}

    {% if Constants.language == 1 %}
        <p>
            You chose to play {{ my_decision }}.
        </p>
        <p>
            You opponent chose to play {{ opponent_decision }}.
        </p>
        <p>
            As a result, you earned {{ payoff }} tokens.
        </p>
    {% else %}
        <p>
            Вы выбрали {{ my_decision }}.
        </p>
        <p>
            Ваш напарник выбрал {{ opponent_decision }}.
        </p>
        <p>
            В результате Вы получаете {{ payoff }} жетонов.
        </p>
    {% endif %}

    <div>
        {% if Constants.language == 1 %}
            <button name="next">Next question</button>
        {% else %}
            <button name="next">Следующий вопрос</button>
        {% endif %}
    </div>

{% endblock %}