{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

    {% if Constants.language == 1 %}
        Quiz
    {% else %}
        Тест
    {% endif %}

{% endblock %}

{% block content %}
    {% for f in form %}
        {% formfield f %}
    {% endfor %}
    <div>
        {% if Constants.language == 1 %}
            <button name="next">Results of the quiz</button>
        {% else %}
            <button name="next">Результаты теста</button>
        {% endif %}
    </div>

    <!--<p>

</p>

    <h4>
        {% if Constants.language == 1 %}
            Instructions
        {% else %}
            Инструкция
        {% endif %}
    </h4>

    {% include Constants.instructions_template %}-->

{% endblock %}