{% load otree static %}

<div>

    {% if Constants.language == 1 %}
        <p>
            You are endowed with {{ Constants.endowment_RiskyProject2 }} tokens that you can choose to keep or invest in a risky project.
            Tokens tha are not invested in the risky project are yours to keep.
        </p>
        <p>
            The risky project has a {{ Constants.prob_success_RiskyProject2 }}% chance of success.
        </p>
        <ul>
            <li>
                If the project is successful, you will receive {{ Constants.return_RiskyProject2 }} times the amount you chose to invest.
            </li>
            <li>
                If the project is unsuccessful, you will lose the amount invested.
            </li>
        </ul>
    {% else %}
        <p>
            В Вашем распоряжении есть {{ Constants.endowment_RiskyProject2 }} жетонов и
            есть возможность проинвестировать в рискованный проект.
        </p>
        <p>
            Вероятность успеха этого проекта - {{ Constants.prob_success_RiskyProject2 }}%.
        </p>
        <ul>
            <li>
                В случае успеха Вы получаете в {{ Constants.return_RiskyProject2 }} раза больше того, что Вы проинвестировали.
            </li>
            <li>
                В случае неуспеха Вы всё проинвестированное теряете.
            </li>
        </ul>
    {% endif %}


</div>