{% load otree static %}

<div>

    {% if Constants.language == 1 %}
        {% if urn_num == 1 %}
            <p>
                The urn from which we can draw a ball is composed of {{ lose_balls }}
                red balls and {{ win_balls }} black balls.
            </p>
            <p>
                The urn gamble pays {{ win_payoff }} tokens if the ball drawn is black (and pays 0 otherwise).
            </p>
        {% else %}
            <p>
                The urn from which we can draw a ball is composed of {{ win_balls }}
                red balls and {{ lose_balls }} black balls.
            </p>
            <p>
                The urn gamble pays {{ win_payoff }} tokens if the ball drawn is red
                (and pays 0 otherwise).
            </p>
        {% endif %}
        <p>
            For each row below, think about whether you prefer the urn gamble, or the sure amount on the right.
        </p>
        <p>
            Once you make your choice, we will randomly select one row from the list,
            and you will get whatever you chose on that line.
            If you specified you prefer a sure amount on that line, you'll get that amount.
            If you specified you prefer the gamble, then we will draw a ball from the urn and pay you accordingly.
        </p>
        <p>
            What would you rather receive?
        </p>
    {% else %}
        {% if urn_num == 1 %}
            <p>
                В урне {{ lose_balls }} красных шаров и {{ win_balls }} чёрных шаров.
            </p>
            <p>
                Вам предлагается следующая лотерея. Мы случайным образом вытянем один шар из урны.
                Если этот шар оказался чёрного цвета, Вы получаете {{ win_payoff }} жетонов,
                если же красного - 0 жетонов.
            </p>
        {% else %}
            <p>
                В урне {{ win_balls }} красных шаров и {{ lose_balls }} чёрных шаров.
            </p>
            <p>
                Вам предлагается следующая лотерея. Мы случайным образом вытянем один шар из урны.
                Если этот шар оказался красного цвета, Вы получаете {{ win_payoff }} жетонов,
                если же чёрного - 0 жетонов.
            </p>
        {% endif %}
        <p>
            Для каждой строчки ниже выберите либо лотерею, описанную выше, либо количество жетонов справа.
        </p>
        <p>
            Когда Вы определитесь с выбором, мы случайным образом выберем одну строчку.
            Если Вы выбрали опцию справа, то Вы получаете указанное там количество жетонов.
            Если же Вы выбрали лотерею, мы вытягиваем шар из урны,
            и Вы либо выигрывайте и получаете {{ win_payoff }} жетонов,
            либо проигрываете и получаете 0.
        </p>
        <p>
            Что бы Вы предпочли получить?
        </p>
    {% endif %}


</div>