{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if Constants.language == 1 %}
            Survey. Part 1
        {% else %}
            Опрос. Часть 1
        {% endif %}

{% endblock %}

{% block content %}

    {% if Constants.language == 1 %}
        <p>
            For each statement below, indicate to what extent you agree with it
            (5 – completely agree; 1 – completely disagree):
        </p>
    {% else %}
        <p>
            В какой мере Вы согласны или не согласны со следующими утверждениями
            (5 - полностью согласен; 1 - совсем не согласен):
        </p>
    {% endif %}

    {% for f in form %}        {% formfield f %}    {% endfor %}

    <div>
        {% if Constants.language == 1 %}
            <button name="next">Continue</button>
        {% else %}
            <button name="next">Продолжить</button>
        {% endif %}
    </div>

{% endblock %}