{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if Constants.language == 1 %}
            Survey. Part 1
        {% else %}
            Опрос. Часть 1
        {% endif %}

{% endblock %}

{% block content %}

    {% for f in form %}        {% formfield f %}    {% endfor %}

    <div>
        {% if Constants.language == 1 %}
            <button name="next">Continue</button>
        {% else %}
            <button name="next">Продолжить</button>
        {% endif %}
    </div>

{% endblock %}