{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

        {% if Constants.language == 1 %}
            Survey. Part 1
        {% else %}
            Опрос. Часть 1
        {% endif %}

{% endblock %}

{% block content %}

    {% if Constants.language == 1 %}
        {% if player.id_in_group == 1 %}
            <p>If you had been player 2 in this experiment, what would you have chosen in game 1?</p>
        {% else %}
            <p>If you had been player 1 in this experiment, what would you have chosen in game 1?</p>
        {% endif %}
    {% else %}
        {% if player.id_in_group == 1 %}
            <p>Если бы Вы были игроком 2 в этом эксперименте, что бы Вы выбрали в игре 1?</p>
        {% else %}
            <p>Если бы Вы были игроком 1 в этом эксперименте, что бы Вы выбрали в игре 1?</p>
        {% endif %}
    {% endif %}

    {% for f in form %}        {% formfield f %}    {% endfor %}

    <div>
        {% if Constants.language == 1 %}
            <button name="next">Continue</button>
        {% else %}
            <button name="next">Продолжить</button>
        {% endif %}
    </div>

{% endblock %}