{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Choose the auction and make the bid
{% endblock %}

{% block content %}

    <p>
        Your role is {{ player.role }}.
        Your valuation is {{ player.valuation }}.
    </p>
    <p>
        Your subrole is {{ player.subrole }}.
    </p>

    {% formfield player.sellerchoice label="Decide which auction you would like to participate. Auction label is the highest price you can bid:" %}
    {% formfield player.sellerbid label="Make the bid for chosen auction. You will not see bidding decisions of the other players when you place your bid." %}
    {% next_button %}

{% endblock %}
