{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкции
    </h3>
    <p>
        Вас случайным образом объединяют в пару с другим участником эксперимента.
        Вы не будете знать, кто этот участник, также как и он не будет знать, кто Вы.
    </p>
    <p>
        В игре есть две роли - Участник 1 и Участник 2, каждому игроку случайным образом присваивается одна из ролей.
        Прежде чем приступить к эксперименту, Вы и Ваш напарник узнаете свои роли.
    </p>

    <p>
        После того как участники эксперимента узнают свои  роли, Участник 1 получает сумму в размере <strong>{{ Constants.endowment }} токенов</strong>.
        Участник 1 выбирает, сколько из этой суммы он хочет предложить Участнику 2.
    </p>

    <p>
        Участник 2 может согласиться с предложением, сделанным Участником 1 — тогда Участник 2 получает предложенную сумму, а Участник 1 остаток от изначальной суммы.
        Участник 2 может не согласиться с предложением, сделанным Участником 1 - тогда оба участника не получают ничего.
    </p>
</div>

