{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Квиз на понимание инструкций
{% endblock %}

{% block content %}

    <p>
        Пожалуйста, удостоверьтесь, что Вы правильно поняли инструкции, ответив на несколько вопросов.
    </p>

    <p>
        <strong>Ситуация 1</strong>
    </p>
    <p>
        Вы — Участник 1, и принимаете решение в раунде, где: начальная сумма - 60 экю.
        Вы предлагаете Участнику 2 сумму в 15 экю и ожидаете, что минимальная приемлемая для Участника 2 сумма составит 15 экю.
        Минимальная приемлемая для Участника 2 сумма составила 25 экю, и он ожидал, что Вы передадите ему 25 экю.

    </p>

    {% formfield group.R_quiz_1 label='Сколько экю получит Участник 2 в результате этого дележа?' %}
    {% formfield group.R_quiz_2 label='Сколько экю останется у Вас (т.е. Участника 1) в результате этого дележа?' %}
    {% formfield group.R_quiz_3 label='Сколько экю получите Вы (т.е. Участник 1) за Ваше предположение относительно Участника 2?' %}
    {% formfield group.R_quiz_4 label='Сколько всего экю получите Вы (т.е. Участник 1) в этом раунде?' %}

    <p>
        <strong>Ситуация 2</strong>
    </p>

    <p>
        Вы — Участник 2, и принимаете решение в раунде, где: начальная сумма - 100 экю.
        Вы соглашаетесь принять минимальную сумму в 30 экю, и ожидаете что Участник 1 предложит Вам 30 экю.
        Участник 1 предложил Вам 40 экю, и ожидал, что минимальная приемлемая для Вас (Участника 2) сумма составит 40 экю.

    </p>

    {% formfield group.R_quiz_5 label='Сколько экю получит Участник 1 в результате этого дележа?' %}
    {% formfield group.R_quiz_6 label='Сколько экю получите Вы (т.е. Участник 2) в результате этого дележа?' %}
    {% formfield group.R_quiz_7 label='Сколько экю получите Вы (т.е. Участник 2) за Ваше предположение относительно Участника 1?' %}
    {% formfield group.R_quiz_8 label='Сколько всего экю получите Вы (т.е. Участник 2) в этом раунде?' %}

{% next_button %}
{% endblock %}
