{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Решение Участника 1{% endblock %}

{% block content %}


    <p>
        Вы являетесь <strong>Участником 1</strong>
    </p>

    <p>
    {% if subsession.round_number == 1 %}
        Вы получили сумму в размере {{ endowment_iter_1 }} токенов,
    {% elif subsession.round_number == 2 %}
        Вы получили сумму в размере {{ endowment_iter_2 }} токенов,
    {% elif subsession.round_number == 3 %}
        Вы получили сумму в размере {{ endowment_iter_3 }} токенов,
    {% endif %}
    в данном раунде 1 токен = 1 экю для Вас и для Участника 2.
    </p>

{#    <p>#}
{#        <strong>Вопрос 1.</strong>#}
{#    </p>#}
{##}
{#    {% if subsession.round_number == 1 %}#}
{#    {% formfield group.S_prediction_no label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он точно не примет Ваше предложение (от 0 до 60)?'%}#}
{#    {% formfield group.S_prediction_rather_no label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он скорее всего не примет Ваше предложение (от 0 до 60)?'%}#}
{#    {% formfield group.S_prediction_so_so label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он с вероятностью 50% примет Ваше предложение или с вероятностью 50% не примет его (от 0 до 60)?'%}#}
{#    {% formfield group.S_prediction_rather_yes label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он скорее всего примет Ваше предложение (от 0 до 60)?'%}#}
{#    {% formfield group.S_prediction_yes label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он точно примет Ваше предложение (от 0 до 60)?'%}#}
{#    {% elif subsession.round_number == 2 %}#}
{#    {% formfield group.S_prediction_no label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он точно не примет Ваше предложение (от 0 до 100)?'%}#}
{#    {% formfield group.S_prediction_rather_no label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он скорее всего не примет Ваше предложение (от 0 до 100)?'%}#}
{#    {% formfield group.S_prediction_so_so label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он с вероятностью 50% примет Ваше предложение или с вероятностью 50% не примет его (от 0 до 100)?'%}#}
{#    {% formfield group.S_prediction_rather_yes label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он скорее всего примет Ваше предложение (от 0 до 100)?'%}#}
{#    {% formfield group.S_prediction_yes label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он точно примет Ваше предложение (от 0 до 100)?'%}#}
{#    {% elif subsession.round_number == 3 %}#}
{#    {% formfield group.S_prediction_no label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он точно не примет Ваше предложение (от 0 до 120)?'%}#}
{#    {% formfield group.S_prediction_rather_no label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он скорее всего не примет Ваше предложение (от 0 до 120)?'%}#}
{#    {% formfield group.S_prediction_so_so label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он с вероятностью 50% примет Ваше предложение или с вероятностью 50% не примет его (от 0 до 120)?'%}#}
{#    {% formfield group.S_prediction_rather_yes label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он скорее всего примет Ваше предложение (от 0 до 120)?'%}#}
{#    {% formfield group.S_prediction_yes label='Пожалуйста, оцените, при каком количестве токенов, переведенных Участнику 2, он точно примет Ваше предложение (от 0 до 120)?'%}#}
{#    {% endif %}#}

    <p>
        <strong>Вопрос 1.</strong>
    </p>

    {% formfield group.S_prediction label=' Как Вы думаете, какую минимальную ставку примет Участник 2?'%}

    <p>
        <strong>Вопрос 2.</strong>
    </p>

    {% if subsession.round_number == 1 %}
        {% formfield group.transfer label='Сколько токенов из суммы, которую Вы получили, Вы хотите отдать Участнику 2 (от 0 до 60)?'%}
    {% elif subsession.round_number == 2 %}
        {% formfield group.transfer label='Сколько токенов из суммы, которую Вы получили, Вы хотите отдать Участнику 2 (от 0 до 100)?'%}
    {% elif subsession.round_number == 3 %}
        {% formfield group.transfer label='Сколько токенов из суммы, которую Вы получили, Вы хотите отдать Участнику 2 (от 0 до 120)?'%}
    {% endif %}


    {% next_button %}
    {% include Constants.instructions_template %}

{% endblock %}
