{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Квиз на понимание инструкций
{% endblock %}

{% block content %}

    <p>
        Пожалуйста, удостоверьтесь, что Вы правильно поняли инструкции, ответив на несколько вопросов.
    </p>

    <p>
        <strong>Ситуация 1</strong>
    </p>
    <p>
        Вы — Участник 1, и принимаете решение в раунде, где: начальная сумма - 60 ECU.
        Вы предлагаете Участнику 2 сумму в 15 ECU и ожидаете, что минимальная приемлемая для Участника 2 сумма составит 15 ECU.
        Минимальная приемлемая для Участника 2 сумма составила 25 ECU, и он ожидал, что Вы передадите ему 25 ECU.

    </p>

    {% formfield group.S_quiz_1 label='Сколько ECU получит Участник 2 в результате этого дележа?' %}
    {% formfield group.S_quiz_2 label='Сколько ECU останется у Вас (Участника 1) в результате этого дележа?' %}
    {% formfield group.S_quiz_3 label='Сколько ECU получите Вы (Участник 1) за Ваше предположение относительно Участника 2?' %}
    {% formfield group.S_quiz_4 label='Сколько всего ECU получите Вы (Участник 1) в этом раунде?' %}

    <p>
        <strong>Ситуация 2</strong>
    </p>

    <p>
        Вы — Участник 2, и принимаете решение в раунде, где: начальная сумма - 100 ECU.
        Вы соглашаетесь принять минимальную сумму в 30 ECU, и ожидаете что Участник 1 предложит Вам 30 ECU.
        Участник 1 предложил Вам 50 ECU, и ожидал, что минимальная приемлемая для Вас (Участника 2) сумма составит 50 ECU.

    </p>

    {% formfield group.S_quiz_5 label='Сколько ECU получит Участник 1 в результате этого дележа?' %}
    {% formfield group.S_quiz_6 label='Сколько ECU получите Вы (Участник 2) в результате этого дележа?' %}
    {% formfield group.S_quiz_7 label='Сколько ECU получите Вы (Участник 2) за Ваше предположение относительно Участника 1?' %}
    {% formfield group.S_quiz_8 label='Сколько всего ECU получите Вы (Участник 1) в этом раунде?' %}

{% next_button %}
{% endblock %}
