{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Выбор Участника 1
{% endblock %}

{% block content %}

    <p>
        Вы являетесь Участником 1.
    </p>

    <p>

    </p>

    <head>
    <style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    <strong>Регионы Участников</strong>

    <table>
    <tr>
        <th> Участник </th>
            <th> Регион </th>
    </tr>
    <tr>
        <td> Участник 1 </td>
        <td> {{ group.p1_region }} </td>
    </tr>
    <tr>
        <td> Участник 2 </td>
        <td> {{ group.p2_region }} </td>
    </tr>

    </table>
    </body>


    <p>

    </p>

    <p>
        Сейчас у Вас есть <strong> {{Constants.endowment}} токенов </strong>. Сколько Вы хотите инвестировать в Участника 2?
    </p>

    {% formfield group.sent_amount with label="Введите число от 0 до 100:" %}
    <p>
    {% next_button %}
    </p>

    {% include Constants.instructions_template %}

{% endblock %}
