{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкции к эксперименту
{% endblock %}

{% block content %}

       <p>
Каждый участник изначально находится в одном из двух состояний, условно называемым “Здоровым” и “Зараженным”. Изначально в Здоровом состоянии находится 90% участников, в Зараженнм – 10%. Кто именно окажется в каком состоянии, определяется случайным образом, и никто из участников не будет знать своего начального состояния до конца эксперимента.
       </p>
    <p>
Не зная своего состояния, каждый участник должен принять одно из двух доступных решений: “Остаться дома” или “Выйти из дома”. Если участник решил Остаться дома, его изначальный выигрыш составляет 30 токенов; если же он решил Выйти из дома, его изначальный выигрыш будет больше, и составит 50 токенов.
</p>
    <p>
Если участники по окончании эксперимента оказались Здоровы, они получают свой изначальный выигрыш, который таким образом зависит только от их решения: 50 токенов если они решили Выйди, и 10 токенов если Остались дома.
</p>
    <p>
У участников, которые по окончании эксперимента оказались Больными, изначальный выигрыш будет снижен на небольшую величину с=30 токенов (легкая Болезнь) с вероятностью 80%, или на большую величину С=150 токенов (тяжелая Болезнь) с вероятностью 20%. Будет ли заболевание Больного участника легким или тяжелым не зависит от его решения, и определяется случайным образом с вероятностями 80 и 20%, соответственно.
</p>
    <p>
Таким образом, если участник Вышел из дома и Заболел в легкой форме, он получит 50-40=10 (десять) токенов в виде бонусов, плюс базовый платеж 150 токенов. Если он Вышел из дома и Заболел в тяжелой форме, он получит 50-150=-100 (минус сто) токенов, плюс базовый платеж 150 токенов.
</p>
    <p>
Если участник и Остался дома и Заболел в легкой форме, он получит 30-40=-10 (минус десять) токенов в виде бонусов, плюс базовый платеж 150 токенов. Если он Остался дома и Заболел в тяжелой форме, он получит 30-150=-120 (минус сто двадцать) токенов, плюс базовый платеж 150 токенов.
</p>
    <p>
Все эти варианты представлены в таблице внизу. Все участники получат эти выигрыши в зависимости от своих решений и от того, в каком состоянии они оказались в конце эксперимента.
 </p>

<table style="width:100%">
  <tr>
    <th>состояние\решение</th>
    <th>Остаться дома (+ 150)</th>
    <th>Выйти из дома (+ 150)</th>
  </tr>
  <tr>
    <td>Здоровый</td>
    <td>30</td>
    <td>50</td>
  </tr>
    <tr>
    <td>Больной легко (80% если болен)</td>
    <td>30-40=-10</td>
    <td>50-40=10</td>
    </tr>
    <tr>
    <td>Больной тяжело (20% если болен)
    </td>
    <td>30-150=-120</td>
    <td>50-150=-100</td>
  </tr>
</table>

    <p>
    Окажется ли участник по окончании эксперимента Здоровым или Больным, зависит от того, сколько участников независимо друг от друга решит Выйти из дома. Чем больше таких участников выйдет из дома, тем больше вероятность того, что кто-то из них окажется Больным, и заразит тех, кто также Выйдет на улицу, которые, в свою очередь, заразят кого-то из тех, кто останется дома. Вероятности того, что каждый из вышедших на улицу и каждый из оставшихся дома окажется Больным (Легко или Тяжело, в зависимости от реализации) зависят только от того, сколько участников из Вашего города решит Выйти на улицу. Они представлены в таблице на следующем экране.
    </p>

    {% next_button %}

{% endblock %}
