{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Добро пожаловать
{% endblock %}

{% block content %}
       <p>
Вы принимаете участие в онлайн-эксперименте наряду с другими участниками из Вашего города.
Все ваши решения анонимны: вы не узнаете с кем именно из других жителей вашего города вы взаимодействовали.
Программа устроена таким образом, что организаторы эксперимента также не смогут связать Ваши ответы и решения лично с Вами, и будут обрабатывать данные только в обезличенном виде (“участники из города NN”).
       </p>

       <p>
В ходе эксперимента Вам предстоит принять решение, от которого будет зависеть как Ваш личный выигрыш, так и выигрыши остальных участников из Вашего города.
Все участники независимо друг от друга принимают аналогичные решения. Поэтому выигрыши каждого из участников зависит как от решений всех участников, так и от случая, как будет подробнее описано ниже.
       </p>

       <p>
Выигрыши в ходе эксперимента будут измерться в условных экспериментальных единицах, называемые токены.
Все суммы, которые Вы выиграете в токенах, будут конвертированы в доллары по курсу 1 доллар = 30 токенов, и выплачены Вам через Яндекс-толока в течение нескольких часов после того как все участники выполнят свои задания.
       </p>

       <p>
Как только Вы закончите выполнять все задания и заполните итоговую анкету, Вам будет доступен уникальный код, который Вам надо будет ввести (скопировать) в окошко в Яндекс-толоке.
Правильно введенный код авторизует платеж. Если Вы не выполнили все задания, код не будет Вам доступен, и Вы не сможете получить выигрыш.
       </p>

        <p>
По окончании эксперимента каждому участнику будет выплачен базовый платеж в размере 150 токенов.
Итоговый платеж будет равен сумме базового платежа и бонуса, полученного по итогам принятых решений.
        </p>


</body>
</html>


    {% next_button %}
{% endblock %}


