{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}

    Ваша роль и Ваше решение
{% endblock %}

{% block content %}

    <p>
        Вы являетесь <strong>Участником 2</strong>.
    </p>

    <p>

    </p>

    <head>
    <style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    <strong>Регионы Участников</strong>

    <table>
    <tr>
        <th> Участник </th>
            <th> Регион </th>
    </tr>
    <tr>
        <td> Участник 1 </td>
        <td> {{ group.p1_region }} </td>
    </tr>
    <tr>
        <td> Участник 2 </td>
        <td> {{ group.p2_region }} </td>
    </tr>

    </table>
    </body>


    <p>

    </p>

    <p>

    </p>

    <p>
        Участник 1 предложил Вам <strong>{{ group.sent_amount }} токенов </strong>
    </p>

    <p>
     {% formfield group.acceptance label="Принимаете ли вы предложение Участника 1?" %}

    {% next_button %}
    </p>

    <p>

             <strong>Инструкции</strong>.

    </p>

    <p>
        Вас случайным образом объединяют в пару с другим участником эксперимента.
        Вы не будете знать, кто этот участник, также как и он не будет знать, кто Вы.
    </p>
    <p>
        В игре есть две роли - Участник 1 и Участник 2, каждому игроку случайным образом присваивается одна из ролей.
        Прежде чем приступить к эксперименту, Вы и Ваш напарник узнаете свои роли.
    </p>

    <p>
        После того как участники эксперимента узнают свои  роли, Участник 1 получает сумму в размере <strong>{{ Constants.endowment }} токенов</strong>.
        Участник 1 выбирает, сколько из этой суммы он хочет предложить Участнику 2.
    </p>

    <p>
        Участник 2 может согласиться с предложением, сделанным Участником 1 — тогда Участник 2 получает предложенную сумму, а Участник 1 остаток от изначальной суммы.
        Участник 2 может не согласиться с предложением, сделанным Участником 1 - тогда оба участника не получают ничего.
    </p>
{% endblock %}

