{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        You are randomly paired with another experimental participant from this session.
        You will not know who this participant is, and neither will he/she know who you are.
    </p>
    <p>
        There are two roles in this experiment: Participant 1 and Participant 2.
                <!-- Участник 1 и Участник 2. -->
        <!-- В игре есть две роли — Участник 1 из <strong>Томска</strong> и Участник 2 из <strong>Москвы</strong> -->.
        All participants will be randomly assigned to one of these roles.
        Before you start the experiment, all of you will learn your roles.
    </p>

    <p>
        After all participants learn their roles, Participant 1 receives the initial amount in ECU.
        Participant 1 decides how many ECU (s)he decides to transfer to Participant 2.
    </p>

    <p>
        Participant 2 may agree with this proposal of Participant 1, in which case both participants receive the shares proposed by Participant 1.
        If Participant 2 does ot agree with this proposal of Participant 1 --- both participants receive 0.
    </p>
</div>

