{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}  Принятие решений II: раунд {{ current_round }} из {{ Constants.num_rounds }}  {% endblock %}

{% block content %}
    {% include 'PG_threshold/Instructions.html' %}

 <p>
<!--    <b>Это игра на создание общественного блага.</b> -->
<!--    <br>Это игра на создание общественного блага состоит из {{ Constants.num_rounds  }} идентичных раундов.</br> -->

     В игре участвуют {{ Constants.players_per_group }} групп, каждая из которых состоит из нескольких участников.
     Состав групп не меняется на протяжении всей игры.

<!--    В каждой группе по {{ Constants.players_per_group }} участников,
    случайным образом разбитые на равные группы. Состав групп не меняется на
    протяжении всей игры.-->

     <br> <br>
     В каждом раунде в распоряжении каждой группы имеется 100 очков. Каждая группа в каждом раунде должна разделить их
     на две части в любой пропорции: на счет группы и на общий счет.
     Каждая единица, оставленная на счету группы, приносит группе 1 очко.

<!--     Каждая единица на личном счету приносит 1 очко лично данному участнику. -->

    <br>
     Каждая единица на общем счету ничего не приносит вашей группе и теряется для вас навсегда, однако эти взносы позволяют всем группам застраховаться
    от <b>Потери</b>, если сумма взносов всех группы на общий счет на конец игры составит по крайней мере {{ Constants.threshold }}.
    Если потеря произойдет, 75% счета группы сгорят, и на нем останутся только 25%. Если Потеря не произойдет,
     вся сумма на счету группы останется в вашем распоряжении.

     Вероятность <i>не</i>наступления <b>Потери</b> пропорциональна доле от целевой суммы в  {{ Constants.threshold }}, которую
     все группы сумеют набрать к концу игры.
     <br> <br>

    Цель вашей группы - максимизировать ее собственный доход, который в конце игры определяется как

    <br>
    <br>
    <i>Доход = (100 - Ваш взнос на общий счет) * 0.25 * Prob(потеря) + (100 - Ваш взнос на общий счет) * (1-Prob(потеря))</i>

    <br><br>

     Пожалуйста, обсудите в группе и примите решение о взносе на общий счет в текущем раунде.

</br>



{% formfield player.contribution label="Сколько Ваша группа готова внести на общий счет?" %}

{% next_button %}

{% endblock %}

