{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}  Принятие решений: Вы участник {{ player.id_in_group }}, идет раунд {{ current_round }} из {{ Constants.num_rounds }}  {% endblock %}

{% block content %}
    {% include 'PG_emotions/Instructions.html' %}

    <p>
        <!--    <b>Это игра на создание общественного блага.</b> -->

        Все участники вашей группы только что приняли свои решения
        <br><br>
    </p>


    {% formfield player.guess label="Как Вы думаете, сколько участники группы в среднем внесли на общий счет в текущем раунде?" %}

    {% next_button %}

{% endblock %}

