{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Инструкции
    </h3>

    <p>
    Вас случайным образом объединяют в пару с другим участником эксперимента.
    Вы не будете знать, кто этот участник, также как и он не будет знать, кто Вы.
    </p>

    <p>
        В игре есть две роли — Участник 1 <!--из <strong>Томска</strong> --> и Участник 2 <!-- из <strong>Москвы</strong> -->.
        Каждому игроку случайным образом присваивается одна из ролей.
        Прежде чем приступить к эксперименту, Вы и Ваш напарник узнаете свои роли.
    </p>

    <p>
    После того как участники эксперимента узнают свои  роли, Участник 1 получает сумму в размере 100 ECU.
    Участнику 1 предстоит принять решение о том какую часть суммы передать Участнику 2.
    </p>

    <p>
    Участник 2 не имеет никакой стартовой суммы.
    Если Участник 1 решил перевести Участнику 2 часть средств, то на счет Участника 2 поступает утроенная сумма перевода.
    После этого Участник 2 должен решить, какую часть от этой утроенной суммы он вернет на счет Участника 1.
    </p>

</div>