{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Выбор Участника 2
{% endblock %}

{% block content %}
    <p>
        Вы являетесь Участником 2.
    </p>


    {% if subsession.round_number == 1 %}
        <p>
            Участник 1 получил сумму в размере <strong>{{ endowment_iter_1 }} токенов</strong>,
        в данном раунде 1 токен = 1 экю для Вас и для Участника 1.
        </p>
        <p>
            Участник 1 передал Вам <strong> {{ group.S_transfer }} токенов </strong>,
            это увеличилось в {{ factor_iter_1 }} раза,
            поэтому Вы получили <strong>{{ group.mult_transfer }} токенов </strong>.
        </p>
    {% elif subsession.round_number == 2 %}
        <p>
        Участник 1 получил сумму в размере <strong>{{ endowment_iter_2 }} токенов</strong>,
        в данном раунде 1 токен = 1 экю для Вас и для Участника 1.
        </p>
        <p>
        Участник 1 передал Вам <strong>{{ group.S_transfer }} токенов</strong>,
        это увеличилось в {{ factor_iter_2 }} раза,
        поэтому Вы получили <strong>{{ group.mult_transfer }} токенов</strong>.
        </p>
    {% elif subsession.round_number == 3 %}
        <p>
        Участник 1 получил сумму в размере <strong>{{ endowment_iter_3 }} токенов</strong>,
        в данном раунде 1 токен = 1 экю для Вас и для Участника 1.
        </p>
        <p>
        Участник 1 передал Вам <strong>{{ group.S_transfer }} токенов</strong>,
        это увеличилось в {{ factor_iter_3 }} раза,
        поэтому Вы получили <strong>{{ group.mult_transfer }} токенов</strong>.
        </p>
    {% endif %}

        <p>
        {% formfield group.R_transfer label='Сколько токенов из полученной суммы Вы вернете Участнику 1?' %}
        </p>



    <p>{% next_button %}</p>
    {% include Constants.instructions_template %}

{% endblock %}
