{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    {% if subsession.round_number == 1 %}
        Первое решение Участника 1 в Раунде 1.
    {% elif subsession.round_number == 2 %}
        Первое решение Участника 1 в Раунде 2.
    {% elif subsession.round_number == 3 %}
        Первое решение Участника 1 в Раунде 3.
    {% endif %}
{% endblock %}

{% block content %}

    <p>
        Вы являетесь <strong>Участником 1</strong>
    </p>

    <p>
    {% if subsession.round_number == 1 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_1 }} экю</strong>.
        Все, что Вы передадите Участнику 2, увеличится в {{ factor_iter_1 }} раза.
    {% elif subsession.round_number == 2 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_2 }} экю</strong>.
        Все, что Вы передадите Участнику 2, увеличится в {{ factor_iter_2 }} раза.
    {% elif subsession.round_number == 3 %}
        В текущем раунде Вы получили <strong>{{ endowment_iter_3 }} экю</strong>.
        Все, что Вы передадите Участнику 2, увеличится в {{ factor_iter_3 }} раза.
    {% endif %}
    </p>


   {% formfield group.S_transfer label="Пожалуйста, укажите, сколько экю из суммы, которую Вы получили в текущем раунде, Вы хотите передать Участнику 2:" %}


    <p>
        Пожалуйста, нажмите кнопку <strong>Далее</strong>.
    </p>


    <p>
    {% next_button %}
    </p>

    {% include Constants.instructions_template %}

{% endblock %}
