{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Квиз на понимание инструкций
{% endblock %}

{% block content %}

    <p>
        Пожалуйста, удостоверьтесь, что Вы правильно поняли инструкции, ответив на несколько вопросов.
    </p>

    <p>
        <strong>Ситуация 1</strong>
    </p>
    <p>
        Вы — Участник 1, и принимаете решение в раунде, где: начальная сумма - 100 ECU;
        а коэффициент, показывающий, сколько ECU получит Участник 2 за каждый ECU, переданный Участником 1, равен 3.

    </p>

    {% formfield group.S_quiz_1 label='Вы (т.е. Участник 1) передаете Участнику 2 сумму в 25 ECU. Сколько ECU окажется в распоряжении Участника 2?' %}
    {% formfield group.S_quiz_2 label='Какое число ECU из Таблицы 2 (столбец "Участник 2 получает") является ближайшим к тому что получил Участник 2? (если два числа из Таблицы одинаково близкие, укажите наименьшее)' %}
    {% formfield group.S_quiz_3 label='Участник 2 возвращает Вам (т.е. Участнику 1) 20 ECU. Сколько ECU будет у Вас в результате вышеописанных решений?' %}
    {% formfield group.S_quiz_4 label='Вы (т.е. Участник 1) предположили, что при сумме в 75 ECU, которую Вы передадите Участнику 2, Участник вернет вам 30 ECU. Сколько ECU Вы получите за Ваше предположение относительно Участника 2?' %}

    <p>
        <strong>Ситуация 2</strong>
    </p>

    <p>
        Вы — Участник 2, и принимаете решение в раунде, где: начальная сумма - 50 ECU;
        а коэффициент, показывающий, сколько ECU получит Участник 2 за каждый ECU, переданный Участником 1, равен 3.

    </p>

    {% formfield group.S_quiz_5 label='Участник 1 передает Вам (т.е. Участнику 2) 30 ECU. Сколько ECU окажется в Вашем распоряжении?' %}
    {% formfield group.S_quiz_6 label='Вы (т.е. Участник 2) возвращаете Участнику 1 половину суммы, которая оказалась в Вашем распоряжении. Сколько ECU по итогам этого решения получите Вы?' %}
    {% formfield group.S_quiz_7 label='Сколько ECU по итогам вышеописанных решений получит Участник 1?' %}
    {% formfield group.S_quiz_8 label='Вы (т.е. Участник 2) ожидали получить от Участника 1 сумму в 20 ECU. Сколько ECU Вы получите за Ваше предположение относительно Участника 1?' %}

{% next_button %}
{% endblock %}
