{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ваша задача
{% endblock %}

{% block content %}
    Ваша задача - выбрать портфель с двумя параметрами: ожидаемая (желательная для Вас) доходность и соответствующий ей уровень риска.
    Чем выше доходность Вы выберете, тем с большим риском она будет связана. Это неизбежный закон природы: иначе не бывает.
    Кроме того, укажите, какую просадку (снижение стоимости портфеля) Вы готовы вынести, не выходя из него (не продавая портфель).
    Срок инвестиции в портфель - 52 периода.

    <br>

    Когда Вы выберете параметры, Вы сможете в реальном времени наблюдать динамику цены (доходности) выбранного Вами потрфеля.

    <br>

    В каждый период Вы будете видеть текущее значение его цены. Увидев эту реализацию, Вы можете

    <br>

    1) оставить портфель у себя и дождаться его следующей реализации

    <br>

    2) пополнить портфель, нажав "пополнить", или

    <br>

    2) выйти из портфеля, нажав "продать".

    <br>

    Помните что доходность портфеля реализуется только в конце его срока действия, и может не совпасть в точности с ожидаемой доходностью.
    {% next_button %}

{% endblock %}
