{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}  Принятие решений: раунд {{ current_round }} из {{ Constants.num_rounds }}  {% endblock %}

{% block content %}
    {% include 'PG_standard/Instructions.html' %}

 <p>
<!--    <br>Это игра на создание общественного блага состоит из {{ Constants.num_rounds  }} идентичных раундов.</br> -->

     В игре участвуют {{ Constants.players_per_group }} групп, каждая из которых состоит из нескольких участников.
     Состав групп не меняется на протяжении всей игры.

<!--    В каждой группе по {{ Constants.players_per_group }} участников,
    случайным образом разбитые на равные группы. Состав групп не меняется на
    протяжении всей игры. -->

     <br> <br>

     В каждом раунде в распоряжении каждой группы имеется 100 очков. Каждая группа в каждом раунде должна разделить их
     на две части в любой пропорции: на счет группы и на общий счет.
     Каждая единица, оставленная на счету группы, приносит группе 1 очко.

    <br>

    Каждая единица, внесенная на общий счет приносит {{ Constants.efficiency_factor }}
    очка каждой группе, вне зависимости от ее взноса.

     <br> <br>

    Цель вашей группы - максимизировать ее доход, который в каждом раунде
    формируется как

    <br>

    <i>Доход = 100 - Взнос группы на общий счет + <wbr> {{Constants.efficiency_factor}} * сумма взносов всех групп на общий счет / {{ Constants.players_per_group }}</i>

    <br><br>

    Пожалуйста, обсудите в группе и примите решение о взносе на общий счет в текущем раунде

</p>


{% formfield player.contribution label="Сколько Ваша группа готова внести на общий счет?" %}

{% next_button %}

{% endblock %}

